/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 36px;
}

.search-form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar {
  width: 272px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}

#search-bar:focus-visible {
  outline: none;
}

#search-bar:hover {
  border: 1px solid #000;
}

#search-bar:active {
  border: 1px solid #4e75ff;
}

.search-btn {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  margin-left: 8px;
}

.search-btn:hover {
  background: #6c8cff;
}

#gallery {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
  
}

.gallery-link {
  width: 320px;
  border: 1px solid #808080;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-info {
  max-width: 320px;
  display: flex;
  gap: 12px;
  padding: 8px 20px;
  justify-content: space-between;
  margin-top: 0;
}

.image-info p {
  font-size: 12px;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.image-info .text {
  display: flex;
  justify-content: center;
}

.loader {
  display: none;
  margin-top: 10%;
  margin-left: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
